/* screen - keurieiteo-makes-diteil */

.border-class-1 {
  border: 1px solid var(--silver);
}
.border-class-2 {
  border: 1px solid var(--black);
}
.border-class-3 {
  border: 1px solid var(--alto);
}
.border-class-4 {
  border: 1px solid var(--scarlet);
}
.border-class-5 {
  border: 1px solid rgba(112,112,112,1.0);
}
.font-class-1 {
  font-family: 'Noto Sans CJK KR', Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -1.30px;
}
.font-class-10 {
  color: var(--black);
  font-family: 'Noto Sans CJK KR', Helvetica, Arial, serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -2.08px;
  line-height: 32px;
}
.font-class-2 {
  font-family: 'Noto Sans CJK KR', Helvetica, Arial, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -1.56px;
  line-height: 24px;
}
.font-class-3 {
  font-family: 'Noto Sans CJK KR', Helvetica, Arial, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -1.30px;
  line-height: 20px;
}
.font-class-4 {
  font-family: "Noto Sans CJK KR", Helvetica, Arial, serif;
  letter-spacing: -1.30px;
}
.font-class-5 {
  font-family: 'Noto Sans CJK KR', Helvetica, Arial, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 200;
  letter-spacing: -1.56px;
}
.font-class-6 {
  font-family: 'Noto Sans CJK KR', Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 200;
  letter-spacing: -0.81px;
  line-height: 18px;
}
.font-class-7 {
  color: var(--fuscous-gray);
  font-family: "Noto Sans CJK KR", Helvetica, Arial, serif;
  font-size: 15px;
  letter-spacing: -0.97px;
  line-height: 15px;
}
.font-class-8 {
  color: var(--black);
  font-family: "Noto Sans CJK KR", Helvetica, Arial, serif;
  font-size: 24px;
  letter-spacing: -1.10px;
  line-height: 17px;
}
.font-class-9 {
  font-family: 'Noto Sans CJK KR', Helvetica, Arial, serif;
  font-size: 47px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -3.06px;
  line-height: 47px;
}
.keurieiteo-makes-diteil {
  background-color: var(--white);
  height: 8025px;
  overflow: hidden;
  position: relative;
  width: 1920px;
}
.keurieiteo-makes-diteil .ar-C61RwL {
  background-color: transparent;
  color: var(--white);
  font-family: 'Noto Sans CJK KR', Helvetica, Arial, serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 868px;
  letter-spacing: 0.00px;
  line-height: 36px;
  position: absolute;
  text-align: left;
  top: 1002px;
  white-space: nowrap;
  width: auto;
}
.keurieiteo-makes-diteil .beulraegpe-eopaemilri-C61RwL {
  background-color: transparent;
  color: var(--black);
  font-family: 'Noto Sans CJK KR', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 1106px;
  letter-spacing: -0.64px;
  line-height: 29px;
  position: absolute;
  text-align: left;
  top: 767px;
  white-space: nowrap;
  width: auto;
}
.keurieiteo-makes-diteil .daepyoisa--s-reserved-C61RwL {
  background-color: transparent;
  color: var(--white);
  font-family: 'Noto Sans CJK KR', Helvetica, Arial, serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 200;
  height: auto;
  left: 405px;
  letter-spacing: -0.38px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  top: 7869px;
  white-space: nowrap;
  width: auto;
}
.keurieiteo-makes-diteil .geomsaegeo-yeoghaseyo-C61RwL {
  background-color: transparent;
  color: var(--fuscous-gray);
  height: auto;
  left: 660px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 303px;
  white-space: nowrap;
  width: auto;
}
.keurieiteo-makes-diteil .geurub-106-l42Pxg {
  background-color: transparent;
  bottom: calc(26.48% - 3px);
  height: 11px;
  position: absolute;
  right: calc(20.25% - 2px);
  width: 10px;
}
.keurieiteo-makes-diteil .geurub-107-l42Pxg {
  background-color: transparent;
  height: 11px;
  position: absolute;
  right: 0px;
  top: calc(25.44% - 3px);
  width: 44px;
}
.keurieiteo-makes-diteil .geurub-108-l42Pxg {
  background-color: transparent;
  height: 26px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 26px;
}
.keurieiteo-makes-diteil .geurub-109-QB0GL1 {
  background-color: transparent;
  height: 60px;
  left: calc(21.92% - 16px);
  position: absolute;
  top: calc(47.07% - 28px);
  width: 73px;
}
.keurieiteo-makes-diteil .geurub-116-C61RwL {
  background-color: transparent;
  height: 100px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}
.keurieiteo-makes-diteil .geurub-117-C61RwL {
  background-color: transparent;
  height: 42px;
  left: 1218px;
  position: absolute;
  top: 291px;
  width: 42px;
}
.keurieiteo-makes-diteil .gwanggo-jinhaenghagi-C61RwL {
  background-color: transparent;
  color: var(--white);
  font-family: 'Noto Sans CJK KR', Helvetica, Arial, serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 1176px;
  letter-spacing: -0.88px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 1202px;
  white-space: nowrap;
  width: auto;
}
.keurieiteo-makes-diteil .gyeyag-si--wadoebnida-C61RwL {
  background-color: transparent;
  color: var(--black);
  font-family: 'Noto Sans CJK KR', Helvetica, Arial, serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 200;
  height: auto;
  left: 1106px;
  letter-spacing: -0.44px;
  line-height: 11px;
  position: absolute;
  text-align: left;
  top: 937px;
  white-space: nowrap;
  width: auto;
}
.keurieiteo-makes-diteil .imiji-12-C61RwL {
  background-color: transparent;
  height: 5728px;
  left: 390px;
  position: absolute;
  top: 1315px;
  width: 1139px;
}
.keurieiteo-makes-diteil .keurieiteo-aginhaseyo-C61RwL {
  background-color: transparent;
  color: var(--black);
  font-family: 'Noto Sans CJK KR', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 1106px;
  letter-spacing: -0.64px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 718px;
  white-space: nowrap;
  width: auto;
}
.keurieiteo-makes-diteil .keurieiteo-deungrog-QB0GL1 {
  background-color: transparent;
  bottom: calc(44.37% - 13px);
  color: var(--white);
  font-size: 20px;
  height: 29px;
  line-height: 20px;
  position: absolute;
  right: calc(38.27% - 53px);
  text-align: left;
  white-space: nowrap;
  width: 138px;
}
.keurieiteo-makes-diteil .keurieiteo-makes-C61RwL {
  background-color: transparent;
  color: var(--white);
  height: auto;
  left: 814px;
  position: absolute;
  text-align: left;
  top: 177px;
  white-space: nowrap;
  width: auto;
}
.keurieiteo-makes-diteil .keurieiteo-makes-QB0GL1 {
  background-color: transparent;
  bottom: calc(44.37% - 13px);
  color: var(--white);
  font-size: 20px;
  height: 29px;
  line-height: 20px;
  position: absolute;
  right: calc(29.07% - 40px);
  text-align: left;
  white-space: nowrap;
  width: 138px;
}
.keurieiteo-makes-diteil .keurieiteo-senteo-QB0GL1 {
  background-color: transparent;
  bottom: calc(36.00% - 18px);
  color: var(--white);
  font-family: 'Noto Sans CJK KR', Helvetica, Arial, serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  height: 50px;
  left: calc(29.90% - 74px);
  letter-spacing: -2.34px;
  line-height: 36px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 248px;
}
.keurieiteo-makes-diteil .maipeiji-QB0GL1 {
  background-color: transparent;
  bottom: calc(44.37% - 13px);
  color: var(--white);
  font-size: 20px;
  height: 29px;
  line-height: 20px;
  position: absolute;
  right: calc(21.67% - 21px);
  text-align: left;
  white-space: nowrap;
  width: 97px;
}
.keurieiteo-makes-diteil .paeseu-164-s1Wm3U {
  background-color: transparent;
  height: 100%;
  left: 1px;
  position: absolute;
  top: 1px;
  width: 100%;
}
.keurieiteo-makes-diteil .paeseu-165-l42Pxg {
  background-color: transparent;
  bottom: 2px;
  height: 22px;
  left: calc(48.73% - 9px);
  position: absolute;
  width: 19px;
}
.keurieiteo-makes-diteil .paeseu-166-l42Pxg {
  background-color: transparent;
  bottom: 1px;
  height: 26px;
  left: 0px;
  position: absolute;
  width: 26px;
}
.keurieiteo-makes-diteil .paeseu-167-8xrTN1 {
  background-color: transparent;
  bottom: 1px;
  height: 8px;
  left: 0px;
  position: absolute;
  width: 4px;
}
.keurieiteo-makes-diteil .paeseu-168-8xrTN1 {
  background-color: transparent;
  bottom: 1px;
  height: 8px;
  left: 5px;
  position: absolute;
  width: 7px;
}
.keurieiteo-makes-diteil .paeseu-169-8xrTN1 {
  background-color: transparent;
  bottom: 1px;
  height: 8px;
  left: calc(34.59% - 2px);
  position: absolute;
  width: 7px;
}
.keurieiteo-makes-diteil .paeseu-170-8xrTN1 {
  background-color: transparent;
  height: calc(100.00% - 1px);
  position: absolute;
  right: calc(48.26% - 2px);
  top: 1px;
  width: 4px;
}
.keurieiteo-makes-diteil .paeseu-171-8xrTN1 {
  background-color: transparent;
  height: 100%;
  position: absolute;
  right: calc(37.51% - 1px);
  top: 0px;
  width: 2px;
}
.keurieiteo-makes-diteil .paeseu-172-8xrTN1 {
  background-color: transparent;
  bottom: 1px;
  height: 8px;
  position: absolute;
  right: calc(20.85% - 1px);
  width: 7px;
}
.keurieiteo-makes-diteil .paeseu-173-8xrTN1 {
  background-color: transparent;
  bottom: 1px;
  height: 8px;
  position: absolute;
  right: 1px;
  width: 7px;
}
.keurieiteo-makes-diteil .paeseu-174-Uv1gYP {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.keurieiteo-makes-diteil .paeseu-2-Q3wxQj {
  background-color: transparent;
  height: calc(100.00% - 10px);
  left: 6px;
  position: absolute;
  top: 6px;
  width: calc(100.00% - 10px);
}
.keurieiteo-makes-diteil .paeseu-400-C61RwL {
  background-color: transparent;
  height: 1px;
  left: 390px;
  position: absolute;
  top: 7212px;
  width: 1140px;
}
.keurieiteo-makes-diteil .rosdesyopi-jusighoesa-C61RwL {
  background-color: transparent;
  color: var(--white);
  height: auto;
  left: 405px;
  position: absolute;
  text-align: left;
  top: 7807px;
  white-space: nowrap;
  width: auto;
}
.keurieiteo-makes-diteil .sagaghyeong-112-C61RwL {
  background-color: var(--white);
  border-radius: 44px;
  height: 80px;
  left: 595px;
  position: absolute;
  top: 275px;
  width: 730px;
}
.keurieiteo-makes-diteil .sagaghyeong-145-C61RwL {
  background-color: rgba(0,0,0,0.525);
  height: 440px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}
.keurieiteo-makes-diteil .sagaghyeong-146-C61RwL {
  background-color: transparent;
  height: 80px;
  left: 1165px;
  position: absolute;
  top: 275px;
  width: 160px;
}
.keurieiteo-makes-diteil .sagaghyeong-15-QB0GL1 {
  background-color: transparent;
  height: calc(100.00% + 18px);
  left: -9px;
  position: absolute;
  top: -6px;
  width: calc(100.00% + 18px);
}
.keurieiteo-makes-diteil .sagaghyeong-201-C61RwL {
  background-color: var(--white);
  height: 40px;
  left: 1103px;
  position: absolute;
  top: 707px;
  width: 284px;
}
.keurieiteo-makes-diteil .sagaghyeong-202-C61RwL {
  background-color: var(--white);
  height: 40px;
  left: 975px;
  position: absolute;
  top: 753px;
  width: 412px;
}
.keurieiteo-makes-diteil .sagaghyeong-203-C61RwL {
  background-color: var(--white);
  height: 185px;
  left: 943px;
  position: absolute;
  top: 773px;
  width: 637px;
}
.keurieiteo-makes-diteil .sagaghyeong-204-C61RwL {
  background-color: var(--scarlet);
  height: 65px;
  left: 952px;
  position: absolute;
  top: 1180px;
  width: 569px;
}
.keurieiteo-makes-diteil .sagaghyeong-85-C61RwL {
  background-color: var(--charade);
  height: 264px;
  left: 0px;
  position: absolute;
  top: 7761px;
  width: 1920px;
}
.keurieiteo-makes-diteil .sagaghyeong-90-Q3wxQj {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.keurieiteo-makes-diteil .sam-mcghee-o-unsplash-C61RwL {
  background-color: transparent;
  height: 440px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}
.keurieiteo-makes-diteil .seiljeogyong-gijun-C61RwL {
  background-color: transparent;
  color: var(--black);
  font-family: 'Noto Sans CJK KR', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 975px;
  letter-spacing: -0.64px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 774px;
  white-space: nowrap;
  width: auto;
}
.keurieiteo-makes-diteil .seukeurins--ohu-91540-C61RwL {
  background-color: transparent;
  height: 761px;
  left: 390px;
  position: absolute;
  top: 490px;
  width: 1140px;
}
.keurieiteo-makes-diteil .seukeurins--ohu-93815-C61RwL {
  background-color: transparent;
  height: 417px;
  left: 390px;
  position: absolute;
  top: 7224px;
  width: 1140px;
}
.keurieiteo-makes-diteil .taweon-33-C61RwL {
  background-color: transparent;
  height: 110px;
  left: 839px;
  position: absolute;
  top: 968px;
  width: 110px;
}
.keurieiteo-makes-diteil .x5045353025-C61RwL {
  background-color: transparent;
  color: var(--black);
  font-family: 'Noto Sans CJK KR', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 1193px;
  letter-spacing: -0.64px;
  line-height: 29px;
  position: absolute;
  text-align: left;
  top: 767px;
  white-space: nowrap;
  width: auto;
}
.keurieiteo-makes-diteil .yeongwan-sangpum-C61RwL {
  background-color: transparent;
  color: var(--black);
  font-family: 'Noto Sans CJK KR', Helvetica, Arial, serif;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 405px;
  letter-spacing: -2.47px;
  line-height: 38px;
  position: absolute;
  text-align: left;
  top: 7148px;
  white-space: nowrap;
  width: auto;
}
:root {
  --alto: rgba(219,219,219,1.0);
  --black: rgba(0,0,0,1.0);
  --charade: rgba(43,49,55,1.0);
  --desert-storm: rgba(248,248,248,1.0);
  --fuscous-gray: rgba(83,83,83,1.0);
  --scarlet: rgba(255,42,12,1.0);
  --silver: rgba(188,188,188,1.0);
  --star-dust: rgba(157,157,157,1.0);
  --white: rgba(255,255,255,1.0);
  --wild-sand: rgba(243,244,248,1.0);
}