/* screen - keurieiteo-makes-gwanggojinhaeng */

.border-class-1 {
  border: 1px solid var(--silver);
}
.border-class-2 {
  border: 1px solid var(--black);
}
.border-class-3 {
  border: 1px solid var(--alto);
}
.border-class-4 {
  border: 1px solid var(--scarlet);
}
.border-class-5 {
  border: 1px solid rgba(112,112,112,1.0);
}
.font-class-1 {
  font-family: 'Noto Sans CJK KR', Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -1.30px;
}
.font-class-10 {
  color: var(--black);
  font-family: 'Noto Sans CJK KR', Helvetica, Arial, serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -2.08px;
  line-height: 32px;
}
.font-class-2 {
  font-family: 'Noto Sans CJK KR', Helvetica, Arial, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -1.56px;
  line-height: 24px;
}
.font-class-3 {
  font-family: 'Noto Sans CJK KR', Helvetica, Arial, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -1.30px;
  line-height: 20px;
}
.font-class-4 {
  font-family: "Noto Sans CJK KR", Helvetica, Arial, serif;
  letter-spacing: -1.30px;
}
.font-class-5 {
  font-family: 'Noto Sans CJK KR', Helvetica, Arial, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 200;
  letter-spacing: -1.56px;
}
.font-class-6 {
  font-family: 'Noto Sans CJK KR', Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 200;
  letter-spacing: -0.81px;
  line-height: 18px;
}
.font-class-7 {
  color: var(--fuscous-gray);
  font-family: "Noto Sans CJK KR", Helvetica, Arial, serif;
  font-size: 15px;
  letter-spacing: -0.97px;
  line-height: 15px;
}
.font-class-8 {
  color: var(--black);
  font-family: "Noto Sans CJK KR", Helvetica, Arial, serif;
  font-size: 24px;
  letter-spacing: -1.10px;
  line-height: 17px;
}
.font-class-9 {
  font-family: 'Noto Sans CJK KR', Helvetica, Arial, serif;
  font-size: 47px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -3.06px;
  line-height: 47px;
}
.keurieiteo-makes-gwanggojinhaeng {
  background-color: var(--wild-sand);
  height: 3899px;
  overflow: hidden;
  position: relative;
  width: 1920px;
}
.keurieiteo-makes-gwanggojinhaeng .aepeul-app-irpods-pro-C61RwL {
  background-color: transparent;
  color: var(--fuscous-gray);
  font-family: "Noto Sans CJK KR", Helvetica, Arial, serif;
  font-size: 22px;
  height: auto;
  left: 673px;
  letter-spacing: -1.43px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 689px;
  white-space: nowrap;
  width: auto;
}
.keurieiteo-makes-gwanggojinhaeng .ansimbeonh-seu-sayong-C61RwL {
  background-color: transparent;
  color: var(--black);
  font-family: 'Noto Sans CJK KR', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 1135px;
  letter-spacing: -1.04px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 2688px;
  white-space: nowrap;
  width: auto;
}
.keurieiteo-makes-gwanggojinhaeng .baesongjeongbo-C61RwL {
  background-color: transparent;
  height: auto;
  left: 405px;
  position: absolute;
  text-align: left;
  top: 2278px;
  white-space: nowrap;
  width: auto;
}
.keurieiteo-makes-gwanggojinhaeng .baesongji-juso-C61RwL {
  background-color: transparent;
  color: var(--black);
  height: auto;
  left: 500px;
  position: absolute;
  text-align: left;
  top: 2508px;
  white-space: nowrap;
  width: auto;
}
.keurieiteo-makes-gwanggojinhaeng .baesongmemo-C61RwL {
  background-color: transparent;
  color: var(--black);
  height: auto;
  left: 500px;
  position: absolute;
  text-align: left;
  top: 2784px;
  white-space: nowrap;
  width: auto;
}
.keurieiteo-makes-gwanggojinhaeng .cd0af1e2f9-5539fb916d-0S7lmt {
  background-color: var(--white);
  border-radius: 20px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.keurieiteo-makes-gwanggojinhaeng .daepyoisa--s-reserved-C61RwL {
  background-color: transparent;
  color: var(--white);
  font-family: 'Noto Sans CJK KR', Helvetica, Arial, serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 200;
  height: auto;
  left: 405px;
  letter-spacing: -0.38px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  top: 3743px;
  white-space: nowrap;
  width: auto;
}
.keurieiteo-makes-gwanggojinhaeng .eobrodeu-p-yeoghaseyo-C61RwL {
  background-color: transparent;
  color: var(--star-dust);
  height: auto;
  left: 785px;
  position: absolute;
  text-align: left;
  top: 1070px;
  white-space: nowrap;
  width: auto;
}
.keurieiteo-makes-gwanggojinhaeng .eobrodeu-p-yeoghaseyo-VMr6Om {
  background-color: transparent;
  color: var(--star-dust);
  height: auto;
  left: 785px;
  position: absolute;
  text-align: left;
  top: 1200px;
  white-space: nowrap;
  width: auto;
}
.keurieiteo-makes-gwanggojinhaeng .eobrodeu-p-yeoghaseyo-mzXdH9 {
  background-color: transparent;
  color: var(--star-dust);
  height: auto;
  left: 785px;
  position: absolute;
  text-align: left;
  top: 1406px;
  white-space: nowrap;
  width: auto;
}
.keurieiteo-makes-gwanggojinhaeng .gaein-peul-m-eobrodeu-C61RwL {
  background-color: transparent;
  color: var(--black);
  height: auto;
  left: 500px;
  position: absolute;
  text-align: left;
  top: 1066px;
  white-space: nowrap;
  width: auto;
}
.keurieiteo-makes-gwanggojinhaeng .gagyeog-C61RwL {
  background-color: transparent;
  color: var(--black);
  height: auto;
  left: 1372px;
  position: absolute;
  text-align: left;
  top: 524px;
  white-space: nowrap;
  width: auto;
}
.keurieiteo-makes-gwanggojinhaeng .geurub-106-l42Pxg {
  background-color: transparent;
  bottom: calc(26.48% - 3px);
  height: 11px;
  position: absolute;
  right: calc(20.25% - 2px);
  width: 10px;
}
.keurieiteo-makes-gwanggojinhaeng .geurub-107-l42Pxg {
  background-color: transparent;
  height: 11px;
  position: absolute;
  right: 0px;
  top: calc(25.44% - 3px);
  width: 44px;
}
.keurieiteo-makes-gwanggojinhaeng .geurub-108-l42Pxg {
  background-color: transparent;
  height: 26px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 26px;
}
.keurieiteo-makes-gwanggojinhaeng .geurub-109-QB0GL1 {
  background-color: transparent;
  height: 60px;
  left: calc(21.92% - 16px);
  position: absolute;
  top: calc(47.07% - 28px);
  width: 73px;
}
.keurieiteo-makes-gwanggojinhaeng .geurub-116-C61RwL {
  background-color: transparent;
  height: 100px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 1920px;
}
.keurieiteo-makes-gwanggojinhaeng .geurub-120-C61RwL {
  background-color: transparent;
  height: 190px;
  left: 470px;
  position: absolute;
  top: 617px;
  width: 190px;
}
.keurieiteo-makes-gwanggojinhaeng .goldeu-35-C61RwL {
  background-color: transparent;
  color: var(--black);
  height: auto;
  left: 1138px;
  position: absolute;
  text-align: left;
  top: 702px;
  white-space: nowrap;
  width: auto;
}
.keurieiteo-makes-gwanggojinhaeng .gwanggo-gigan-C61RwL {
  background-color: transparent;
  height: auto;
  left: 405px;
  position: absolute;
  text-align: left;
  top: 1648px;
  white-space: nowrap;
  width: auto;
}
.keurieiteo-makes-gwanggojinhaeng .gwanggo-jejagbangsig-C61RwL {
  background-color: transparent;
  height: auto;
  left: 405px;
  position: absolute;
  text-align: left;
  top: 934px;
  white-space: nowrap;
  width: auto;
}
.keurieiteo-makes-gwanggojinhaeng .gwanggo-jinhaenghagi-C61RwL {
  background-color: transparent;
  color: var(--black);
  height: auto;
  left: 834px;
  position: absolute;
  text-align: left;
  top: 208px;
  white-space: nowrap;
  width: auto;
}
.keurieiteo-makes-gwanggojinhaeng .gwanggo-jinhaenghagi-VMr6Om {
  background-color: transparent;
  color: var(--white);
  font-family: 'Noto Sans CJK KR', Helvetica, Arial, serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 885px;
  letter-spacing: -1.82px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 3454px;
  white-space: nowrap;
  width: auto;
}
.keurieiteo-makes-gwanggojinhaeng .gwanggo-ye-ng-sangpum-C61RwL {
  background-color: transparent;
  height: auto;
  left: 405px;
  position: absolute;
  text-align: left;
  top: 438px;
  white-space: nowrap;
  width: auto;
}
.keurieiteo-makes-gwanggojinhaeng .gyeoljeil-C61RwL {
  background-color: transparent;
  color: var(--black);
  height: auto;
  left: 500px;
  position: absolute;
  text-align: left;
  top: 1779px;
  white-space: nowrap;
  width: auto;
}
.keurieiteo-makes-gwanggojinhaeng .gyeoljeile-yeoghaseyo-C61RwL {
  background-color: transparent;
  color: var(--star-dust);
  height: auto;
  left: 720px;
  position: absolute;
  text-align: left;
  top: 1782px;
  white-space: nowrap;
  width: auto;
}
.keurieiteo-makes-gwanggojinhaeng .halinyul-C61RwL {
  background-color: transparent;
  color: var(--black);
  height: auto;
  left: 1154px;
  position: absolute;
  text-align: left;
  top: 524px;
  white-space: nowrap;
  width: auto;
}
.keurieiteo-makes-gwanggojinhaeng .iyongyaggwan-C61RwL {
  background-color: transparent;
  height: auto;
  left: 405px;
  position: absolute;
  text-align: left;
  top: 2978px;
  white-space: nowrap;
  width: auto;
}
.keurieiteo-makes-gwanggojinhaeng .jeoncedongyi-C61RwL {
  background-color: transparent;
  color: var(--black);
  height: auto;
  left: 690px;
  position: absolute;
  text-align: left;
  top: 2989px;
  white-space: nowrap;
  width: auto;
}
.keurieiteo-makes-gwanggojinhaeng .jeongsanil--ihuibnida-C61RwL {
  background-color: transparent;
  color: var(--star-dust);
  height: auto;
  left: 720px;
  position: absolute;
  text-align: left;
  top: 2112px;
  white-space: nowrap;
  width: auto;
}
.keurieiteo-makes-gwanggojinhaeng .jeongsanil-C61RwL {
  background-color: transparent;
  color: var(--black);
  height: auto;
  left: 500px;
  position: absolute;
  text-align: left;
  top: 2109px;
  white-space: nowrap;
  width: auto;
}
.keurieiteo-makes-gwanggojinhaeng .jepum-sury-yeoghaseyo-C61RwL {
  background-color: transparent;
  color: var(--star-dust);
  height: auto;
  left: 720px;
  position: absolute;
  text-align: left;
  top: 1892px;
  white-space: nowrap;
  width: auto;
}
.keurieiteo-makes-gwanggojinhaeng .jepum-suryeongil-C61RwL {
  background-color: transparent;
  color: var(--black);
  height: auto;
  left: 500px;
  position: absolute;
  text-align: left;
  top: 1889px;
  white-space: nowrap;
  width: auto;
}
.keurieiteo-makes-gwanggojinhaeng .keontenceu-gonggaeil-C61RwL {
  background-color: transparent;
  color: var(--black);
  height: auto;
  left: 500px;
  position: absolute;
  text-align: left;
  top: 1999px;
  white-space: nowrap;
  width: auto;
}
.keurieiteo-makes-gwanggojinhaeng .keontenceu-yeoghaseyo-C61RwL {
  background-color: transparent;
  color: var(--star-dust);
  height: auto;
  left: 720px;
  position: absolute;
  text-align: left;
  top: 2002px;
  white-space: nowrap;
  width: auto;
}
.keurieiteo-makes-gwanggojinhaeng .keurieiteo-deungrog-QB0GL1 {
  background-color: transparent;
  bottom: calc(44.37% - 13px);
  color: var(--white);
  font-size: 20px;
  height: 29px;
  line-height: 20px;
  position: absolute;
  right: calc(38.27% - 53px);
  text-align: left;
  white-space: nowrap;
  width: 138px;
}
.keurieiteo-makes-gwanggojinhaeng .keurieiteo-gwan-pilsu-C61RwL {
  background-color: transparent;
  color: var(--fuscous-gray);
  font-size: 20px;
  height: auto;
  left: 690px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 3064px;
  white-space: nowrap;
  width: auto;
}
.keurieiteo-makes-gwanggojinhaeng .keurieiteo-makes-QB0GL1 {
  background-color: transparent;
  bottom: calc(44.37% - 13px);
  color: var(--white);
  font-size: 20px;
  height: 29px;
  line-height: 20px;
  position: absolute;
  right: calc(29.07% - 40px);
  text-align: left;
  white-space: nowrap;
  width: 138px;
}
.keurieiteo-makes-gwanggojinhaeng .keurieiteo-senteo-QB0GL1 {
  background-color: transparent;
  bottom: calc(36.00% - 18px);
  color: var(--white);
  font-family: 'Noto Sans CJK KR', Helvetica, Arial, serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  height: 50px;
  left: calc(29.90% - 74px);
  letter-spacing: -2.34px;
  line-height: 36px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 248px;
}
.keurieiteo-makes-gwanggojinhaeng .maipeiji-QB0GL1 {
  background-color: transparent;
  bottom: calc(44.37% - 13px);
  color: var(--white);
  font-size: 20px;
  height: 29px;
  line-height: 20px;
  position: absolute;
  right: calc(21.67% - 21px);
  text-align: left;
  white-space: nowrap;
  width: 97px;
}
.keurieiteo-makes-gwanggojinhaeng .paeseu-164-s1Wm3U {
  background-color: transparent;
  height: 100%;
  left: 1px;
  position: absolute;
  top: 1px;
  width: 100%;
}
.keurieiteo-makes-gwanggojinhaeng .paeseu-165-l42Pxg {
  background-color: transparent;
  bottom: 2px;
  height: 22px;
  left: calc(48.73% - 9px);
  position: absolute;
  width: 19px;
}
.keurieiteo-makes-gwanggojinhaeng .paeseu-166-l42Pxg {
  background-color: transparent;
  bottom: 1px;
  height: 26px;
  left: 0px;
  position: absolute;
  width: 26px;
}
.keurieiteo-makes-gwanggojinhaeng .paeseu-167-8xrTN1 {
  background-color: transparent;
  bottom: 1px;
  height: 8px;
  left: 0px;
  position: absolute;
  width: 4px;
}
.keurieiteo-makes-gwanggojinhaeng .paeseu-168-8xrTN1 {
  background-color: transparent;
  bottom: 1px;
  height: 8px;
  left: 5px;
  position: absolute;
  width: 7px;
}
.keurieiteo-makes-gwanggojinhaeng .paeseu-169-8xrTN1 {
  background-color: transparent;
  bottom: 1px;
  height: 8px;
  left: calc(34.59% - 2px);
  position: absolute;
  width: 7px;
}
.keurieiteo-makes-gwanggojinhaeng .paeseu-170-8xrTN1 {
  background-color: transparent;
  height: calc(100.00% - 1px);
  position: absolute;
  right: calc(48.26% - 2px);
  top: 1px;
  width: 4px;
}
.keurieiteo-makes-gwanggojinhaeng .paeseu-171-8xrTN1 {
  background-color: transparent;
  height: 100%;
  position: absolute;
  right: calc(37.51% - 1px);
  top: 0px;
  width: 2px;
}
.keurieiteo-makes-gwanggojinhaeng .paeseu-172-8xrTN1 {
  background-color: transparent;
  bottom: 1px;
  height: 8px;
  position: absolute;
  right: calc(20.85% - 1px);
  width: 7px;
}
.keurieiteo-makes-gwanggojinhaeng .paeseu-173-8xrTN1 {
  background-color: transparent;
  bottom: 1px;
  height: 8px;
  position: absolute;
  right: 1px;
  width: 7px;
}
.keurieiteo-makes-gwanggojinhaeng .paeseu-174-Uv1gYP {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.keurieiteo-makes-gwanggojinhaeng .paeseu-401-C61RwL {
  background-color: transparent;
  height: 355px;
  left: 944px;
  position: absolute;
  top: 502px;
  width: 1px;
}
.keurieiteo-makes-gwanggojinhaeng .paeseu-402-C61RwL {
  background-color: transparent;
  height: 355px;
  left: 1094px;
  position: absolute;
  top: 502px;
  width: 1px;
}
.keurieiteo-makes-gwanggojinhaeng .paeseu-403-C61RwL {
  background-color: transparent;
  height: 355px;
  left: 1264px;
  position: absolute;
  top: 502px;
  width: 1px;
}
.keurieiteo-makes-gwanggojinhaeng .paeseu-404-C61RwL {
  background-color: transparent;
  height: 10px;
  left: 1400px;
  position: absolute;
  top: 1073px;
  width: 20px;
}
.keurieiteo-makes-gwanggojinhaeng .paeseu-405-C61RwL {
  background-color: transparent;
  height: 10px;
  left: 1400px;
  position: absolute;
  top: 1203px;
  width: 20px;
}
.keurieiteo-makes-gwanggojinhaeng .paeseu-406-C61RwL {
  background-color: transparent;
  height: 10px;
  left: 1400px;
  position: absolute;
  top: 1279px;
  width: 20px;
}
.keurieiteo-makes-gwanggojinhaeng .paeseu-407-C61RwL {
  background-color: transparent;
  height: 10px;
  left: 1400px;
  position: absolute;
  top: 1409px;
  width: 20px;
}
.keurieiteo-makes-gwanggojinhaeng .paeseu-408-C61RwL {
  background-color: transparent;
  height: 10px;
  left: 1400px;
  position: absolute;
  top: 1485px;
  width: 20px;
}
.keurieiteo-makes-gwanggojinhaeng .paeseu-409-C61RwL {
  background-color: transparent;
  height: 572px;
  left: 405px;
  position: absolute;
  top: 998px;
  width: 1110px;
}
.keurieiteo-makes-gwanggojinhaeng .paeseu-410-C61RwL {
  background-color: transparent;
  height: 490px;
  left: 405px;
  position: absolute;
  top: 1711px;
  width: 1110px;
}
.keurieiteo-makes-gwanggojinhaeng .paeseu-411-C61RwL {
  background-color: transparent;
  height: 10px;
  left: 1335px;
  position: absolute;
  top: 1786px;
  width: 20px;
}
.keurieiteo-makes-gwanggojinhaeng .paeseu-412-C61RwL {
  background-color: transparent;
  height: 10px;
  left: 1335px;
  position: absolute;
  top: 1896px;
  width: 20px;
}
.keurieiteo-makes-gwanggojinhaeng .paeseu-413-C61RwL {
  background-color: transparent;
  height: 10px;
  left: 1335px;
  position: absolute;
  top: 2006px;
  width: 20px;
}
.keurieiteo-makes-gwanggojinhaeng .paeseu-414-C61RwL {
  background-color: transparent;
  height: 526px;
  left: 405px;
  position: absolute;
  top: 2345px;
  width: 1110px;
}
.keurieiteo-makes-gwanggojinhaeng .panmaehoew--sahangeul-C61RwL {
  background-color: transparent;
  color: var(--black);
  font-family: "Noto Sans CJK KR", Helvetica, Arial, serif;
  font-size: 24px;
  height: auto;
  left: 690px;
  letter-spacing: -1.17px;
  line-height: 29px;
  position: absolute;
  text-align: left;
  top: 3134px;
  white-space: nowrap;
  width: auto;
}
.keurieiteo-makes-gwanggojinhaeng .peulraespo-deu-raibeu-C61RwL {
  background-color: transparent;
  color: var(--black);
  height: auto;
  left: 500px;
  position: absolute;
  text-align: left;
  top: 1196px;
  white-space: nowrap;
  width: auto;
}
.keurieiteo-makes-gwanggojinhaeng .peulraespo-eon-raibeu-C61RwL {
  background-color: transparent;
  color: var(--black);
  height: auto;
  left: 500px;
  position: absolute;
  text-align: left;
  top: 1406px;
  white-space: nowrap;
  width: auto;
}
.keurieiteo-makes-gwanggojinhaeng .raibeu-peu-yeoghaseyo-C61RwL {
  background-color: transparent;
  color: var(--star-dust);
  height: auto;
  left: 785px;
  position: absolute;
  text-align: left;
  top: 1276px;
  white-space: nowrap;
  width: auto;
}
.keurieiteo-makes-gwanggojinhaeng .raibeu-peu-yeoghaseyo-VMr6Om {
  background-color: transparent;
  color: var(--star-dust);
  height: auto;
  left: 785px;
  position: absolute;
  text-align: left;
  top: 1482px;
  white-space: nowrap;
  width: auto;
}
.keurieiteo-makes-gwanggojinhaeng .rosdesyopi-jusighoesa-C61RwL {
  background-color: transparent;
  color: var(--white);
  height: auto;
  left: 405px;
  position: absolute;
  text-align: left;
  top: 3681px;
  white-space: nowrap;
  width: auto;
}
.keurieiteo-makes-gwanggojinhaeng .sagaghyeong-110-C61RwL {
  background-color: var(--white);
  height: 361px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1920px;
}
.keurieiteo-makes-gwanggojinhaeng .sagaghyeong-15-QB0GL1 {
  background-color: transparent;
  height: calc(100.00% + 18px);
  left: -9px;
  position: absolute;
  top: -6px;
  width: calc(100.00% + 18px);
}
.keurieiteo-makes-gwanggojinhaeng .sagaghyeong-152-C61RwL {
  background-color: var(--white);
  height: 355px;
  left: 405px;
  position: absolute;
  top: 502px;
  width: 1110px;
}
.keurieiteo-makes-gwanggojinhaeng .sagaghyeong-155-C61RwL {
  background-color: var(--white);
  height: 74px;
  left: 595px;
  position: absolute;
  top: 2963px;
  width: 920px;
}
.keurieiteo-makes-gwanggojinhaeng .sagaghyeong-156-C61RwL {
  background-color: var(--white);
  border-radius: 5px;
  height: 24px;
  left: 636px;
  position: absolute;
  top: 2988px;
  width: 24px;
}
.keurieiteo-makes-gwanggojinhaeng .sagaghyeong-157-C61RwL {
  background-color: var(--white);
  height: 74px;
  left: 595px;
  position: absolute;
  top: 3036px;
  width: 920px;
}
.keurieiteo-makes-gwanggojinhaeng .sagaghyeong-158-C61RwL {
  background-color: var(--white);
  border-radius: 5px;
  height: 24px;
  left: 636px;
  position: absolute;
  top: 3061px;
  width: 24px;
}
.keurieiteo-makes-gwanggojinhaeng .sagaghyeong-172-C61RwL {
  background-color: var(--scarlet);
  border-radius: 10px;
  height: 96px;
  left: 785px;
  position: absolute;
  top: 3419px;
  width: 350px;
}
.keurieiteo-makes-gwanggojinhaeng .sagaghyeong-209-C61RwL {
  background-color: var(--wild-sand);
  height: 65px;
  left: 405px;
  position: absolute;
  top: 502px;
  width: 1110px;
}
.keurieiteo-makes-gwanggojinhaeng .sagaghyeong-211-C61RwL {
  background-color: var(--white);
  height: 60px;
  left: 755px;
  position: absolute;
  top: 1048px;
  width: 695px;
}
.keurieiteo-makes-gwanggojinhaeng .sagaghyeong-212-C61RwL {
  background-color: var(--white);
  height: 20px;
  left: 470px;
  position: absolute;
  top: 1068px;
  width: 20px;
}
.keurieiteo-makes-gwanggojinhaeng .sagaghyeong-213-C61RwL {
  background-color: var(--white);
  height: 20px;
  left: 470px;
  position: absolute;
  top: 1198px;
  width: 20px;
}
.keurieiteo-makes-gwanggojinhaeng .sagaghyeong-214-C61RwL {
  background-color: var(--white);
  height: 60px;
  left: 755px;
  position: absolute;
  top: 1178px;
  width: 695px;
}
.keurieiteo-makes-gwanggojinhaeng .sagaghyeong-215-C61RwL {
  background-color: var(--white);
  height: 60px;
  left: 755px;
  position: absolute;
  top: 1254px;
  width: 695px;
}
.keurieiteo-makes-gwanggojinhaeng .sagaghyeong-216-C61RwL {
  background-color: var(--white);
  height: 20px;
  left: 470px;
  position: absolute;
  top: 1404px;
  width: 20px;
}
.keurieiteo-makes-gwanggojinhaeng .sagaghyeong-217-C61RwL {
  background-color: var(--white);
  height: 60px;
  left: 755px;
  position: absolute;
  top: 1384px;
  width: 695px;
}
.keurieiteo-makes-gwanggojinhaeng .sagaghyeong-218-C61RwL {
  background-color: var(--white);
  height: 60px;
  left: 755px;
  position: absolute;
  top: 1460px;
  width: 695px;
}
.keurieiteo-makes-gwanggojinhaeng .sagaghyeong-219-C61RwL {
  background-color: var(--white);
  height: 60px;
  left: 690px;
  position: absolute;
  top: 1761px;
  width: 695px;
}
.keurieiteo-makes-gwanggojinhaeng .sagaghyeong-220-C61RwL {
  background-color: var(--white);
  height: 60px;
  left: 690px;
  position: absolute;
  top: 1871px;
  width: 695px;
}
.keurieiteo-makes-gwanggojinhaeng .sagaghyeong-221-C61RwL {
  background-color: var(--white);
  height: 60px;
  left: 690px;
  position: absolute;
  top: 1981px;
  width: 695px;
}
.keurieiteo-makes-gwanggojinhaeng .sagaghyeong-222-C61RwL {
  background-color: var(--white);
  height: 60px;
  left: 690px;
  position: absolute;
  top: 2091px;
  width: 695px;
}
.keurieiteo-makes-gwanggojinhaeng .sagaghyeong-223-C61RwL {
  background-color: var(--wild-sand);
  height: 250px;
  left: 595px;
  position: absolute;
  top: 3109px;
  width: 920px;
}
.keurieiteo-makes-gwanggojinhaeng .sagaghyeong-224-C61RwL {
  background-color: var(--fuscous-gray);
  border-radius: 9px;
  height: 47px;
  left: 1487px;
  position: absolute;
  top: 3125px;
  width: 12px;
}
.keurieiteo-makes-gwanggojinhaeng .sagaghyeong-227-C61RwL {
  background-color: var(--white);
  height: 60px;
  left: 690px;
  position: absolute;
  top: 2390px;
  width: 380px;
}
.keurieiteo-makes-gwanggojinhaeng .sagaghyeong-228-C61RwL {
  background-color: var(--white);
  height: 60px;
  left: 690px;
  position: absolute;
  top: 2490px;
  width: 255px;
}
.keurieiteo-makes-gwanggojinhaeng .sagaghyeong-229-C61RwL {
  background-color: var(--wild-sand);
  height: 60px;
  left: 957px;
  position: absolute;
  top: 2490px;
  width: 113px;
}
.keurieiteo-makes-gwanggojinhaeng .sagaghyeong-230-C61RwL {
  background-color: var(--white);
  height: 60px;
  left: 690px;
  position: absolute;
  top: 2566px;
  width: 380px;
}
.keurieiteo-makes-gwanggojinhaeng .sagaghyeong-231-C61RwL {
  background-color: var(--white);
  height: 60px;
  left: 1082px;
  position: absolute;
  top: 2566px;
  width: 338px;
}
.keurieiteo-makes-gwanggojinhaeng .sagaghyeong-232-C61RwL {
  background-color: var(--white);
  height: 60px;
  left: 690px;
  position: absolute;
  top: 2666px;
  width: 380px;
}
.keurieiteo-makes-gwanggojinhaeng .sagaghyeong-233-C61RwL {
  background-color: var(--white);
  border-radius: 3px;
  height: 16px;
  left: 1109px;
  position: absolute;
  top: 2688px;
  width: 16px;
}
.keurieiteo-makes-gwanggojinhaeng .sagaghyeong-234-C61RwL {
  background-color: var(--white);
  height: 60px;
  left: 690px;
  position: absolute;
  top: 2766px;
  width: 730px;
}
.keurieiteo-makes-gwanggojinhaeng .sagaghyeong-85-C61RwL {
  background-color: var(--charade);
  height: 264px;
  left: 0px;
  position: absolute;
  top: 3635px;
  width: 1920px;
}
.keurieiteo-makes-gwanggojinhaeng .sangpumjeongbo-C61RwL {
  background-color: transparent;
  color: var(--black);
  height: auto;
  left: 640px;
  position: absolute;
  text-align: left;
  top: 524px;
  white-space: nowrap;
  width: auto;
}
.keurieiteo-makes-gwanggojinhaeng .seukeurins--ohu-74005-0S7lmt {
  background-color: transparent;
  height: calc(100.00% - 50px);
  left: 2px;
  position: absolute;
  top: 25px;
  width: calc(100.00% - 6px);
}
.keurieiteo-makes-gwanggojinhaeng .span0-BlL6Ix {
  color: rgba(0,0,0,1.0);
  font-family: 'Noto Sans CJK KR', Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -1.56px;
}
.keurieiteo-makes-gwanggojinhaeng .span0-EV7wfN {
  color: rgba(0,0,0,1.0);
  font-family: 'Noto Sans CJK KR', Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 500;
}
.keurieiteo-makes-gwanggojinhaeng .span0-Hpn2Kx {
  color: rgba(0,0,0,1.0);
  font-family: 'Noto Sans CJK KR', Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -1.30px;
}
.keurieiteo-makes-gwanggojinhaeng .span0-I3EbxJ {
  color: rgba(0,0,0,1.0);
  font-family: 'Noto Sans CJK KR', Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -1.30px;
}
.keurieiteo-makes-gwanggojinhaeng .span0-Y3V1ol {
  color: rgba(0,0,0,1.0);
  font-family: 'Noto Sans CJK KR', Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.60px;
}
.keurieiteo-makes-gwanggojinhaeng .span1-BlL6Ix {
  color: rgba(0,0,0,1.0);
  font-family: 'Noto Sans CJK KR', Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 200;
}
.keurieiteo-makes-gwanggojinhaeng .span1-EV7wfN {
  color: rgba(83,83,83,1.0);
  font-family: 'Noto Sans CJK KR', Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 400;
}
.keurieiteo-makes-gwanggojinhaeng .span1-Hpn2Kx {
  color: rgba(255,42,12,1.0);
  font-family: 'Noto Sans CJK KR', Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -1.30px;
}
.keurieiteo-makes-gwanggojinhaeng .span1-I3EbxJ {
  color: rgba(83,83,83,1.0);
  font-family: 'Noto Sans CJK KR', Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -1.30px;
}
.keurieiteo-makes-gwanggojinhaeng .span1-Y3V1ol {
  color: rgba(0,0,0,1.0);
  font-family: 'Noto Sans CJK KR', Helvetica, Arial, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.36px;
}
.keurieiteo-makes-gwanggojinhaeng .span2-Hpn2Kx {
  color: rgba(83,83,83,1.0);
  font-family: 'Noto Sans CJK KR', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 200;
}
.keurieiteo-makes-gwanggojinhaeng .span2-Y3V1ol {
  color: rgba(0,0,0,1.0);
  font-family: 'Noto Sans CJK KR', Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.60px;
}
.keurieiteo-makes-gwanggojinhaeng .span3-Y3V1ol {
  color: rgba(255,42,12,1.0);
  font-family: 'Noto Sans CJK KR', Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.60px;
}
.keurieiteo-makes-gwanggojinhaeng .span4-Y3V1ol {
  color: rgba(255,42,12,1.0);
  font-family: 'Noto Sans CJK KR', Helvetica, Arial, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.36px;
}
.keurieiteo-makes-gwanggojinhaeng .span5-Y3V1ol {
  color: rgba(83,83,83,1.0);
  font-family: 'Noto Sans CJK KR', Helvetica, Arial, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 200;
}
.keurieiteo-makes-gwanggojinhaeng .suryang-C61RwL {
  background-color: transparent;
  color: var(--black);
  height: auto;
  left: 1002px;
  position: absolute;
  text-align: left;
  top: 524px;
  white-space: nowrap;
  width: auto;
}
.keurieiteo-makes-gwanggojinhaeng .suryeongin-C61RwL {
  background-color: transparent;
  color: var(--black);
  height: auto;
  left: 500px;
  position: absolute;
  text-align: left;
  top: 2408px;
  white-space: nowrap;
  width: auto;
}
.keurieiteo-makes-gwanggojinhaeng .suryeongin-yeoghaseyo-C61RwL {
  background-color: transparent;
  color: var(--star-dust);
  height: auto;
  left: 710px;
  position: absolute;
  text-align: left;
  top: 2412px;
  white-space: nowrap;
  width: auto;
}
.keurieiteo-makes-gwanggojinhaeng .upyeonbeon-yeoghaseyo-C61RwL {
  background-color: transparent;
  color: var(--star-dust);
  height: auto;
  left: 710px;
  position: absolute;
  text-align: left;
  top: 2512px;
  white-space: nowrap;
  width: auto;
}
.keurieiteo-makes-gwanggojinhaeng .upyeonbeon-yeoghaseyo-VMr6Om {
  background-color: transparent;
  color: var(--star-dust);
  height: auto;
  left: 710px;
  position: absolute;
  text-align: left;
  top: 2588px;
  white-space: nowrap;
  width: auto;
}
.keurieiteo-makes-gwanggojinhaeng .upyeonbeon-yeoghaseyo-mzXdH9 {
  background-color: transparent;
  color: var(--star-dust);
  height: auto;
  left: 1102px;
  position: absolute;
  text-align: left;
  top: 2588px;
  white-space: nowrap;
  width: auto;
}
.keurieiteo-makes-gwanggojinhaeng .upyeonbeonho-C61RwL {
  background-color: transparent;
  color: var(--black);
  height: auto;
  left: 982px;
  position: absolute;
  text-align: left;
  top: 2511px;
  white-space: nowrap;
  width: auto;
}
.keurieiteo-makes-gwanggojinhaeng .weonga-hal-ncegagyeog-C61RwL {
  background-color: transparent;
  color: var(--fuscous-gray);
  font-family: "Noto Sans CJK KR", Helvetica, Arial, serif;
  font-size: 20px;
  height: auto;
  left: 1283px;
  letter-spacing: -1.04px;
  line-height: 35px;
  position: absolute;
  text-align: left;
  top: 640px;
  white-space: nowrap;
  width: auto;
}
.keurieiteo-makes-gwanggojinhaeng .x20gae-C61RwL {
  background-color: transparent;
  color: var(--black);
  height: auto;
  left: 1001px;
  position: absolute;
  text-align: left;
  top: 702px;
  white-space: nowrap;
  width: auto;
}
.keurieiteo-makes-gwanggojinhaeng .x319116weon-148520weon-C61RwL {
  background-color: transparent;
  color: var(--fuscous-gray);
  font-family: "Noto Sans CJK KR", Helvetica, Arial, serif;
  font-size: 20px;
  height: auto;
  left: 1418px;
  letter-spacing: -0.48px;
  line-height: 35px;
  position: absolute;
  text-align: right;
  top: 640px;
  white-space: nowrap;
  width: auto;
}
.keurieiteo-makes-gwanggojinhaeng .yeonragceo-C61RwL {
  background-color: transparent;
  color: var(--black);
  height: auto;
  left: 500px;
  position: absolute;
  text-align: left;
  top: 2684px;
  white-space: nowrap;
  width: auto;
}
.keurieiteo-makes-gwanggojinhaeng .yeonragceo-yeoghaseyo-C61RwL {
  background-color: transparent;
  color: var(--star-dust);
  height: auto;
  left: 710px;
  position: absolute;
  text-align: left;
  top: 2688px;
  white-space: nowrap;
  width: auto;
}
.keurieiteo-makes-gwanggojinhaeng .yoceongsah-yeoghaseyo-C61RwL {
  background-color: transparent;
  color: var(--star-dust);
  height: auto;
  left: 710px;
  position: absolute;
  text-align: left;
  top: 2788px;
  white-space: nowrap;
  width: auto;
}
:root {
  --alto: rgba(219,219,219,1.0);
  --black: rgba(0,0,0,1.0);
  --charade: rgba(43,49,55,1.0);
  --desert-storm: rgba(248,248,248,1.0);
  --fuscous-gray: rgba(83,83,83,1.0);
  --scarlet: rgba(255,42,12,1.0);
  --silver: rgba(188,188,188,1.0);
  --star-dust: rgba(157,157,157,1.0);
  --white: rgba(255,255,255,1.0);
  --wild-sand: rgba(243,244,248,1.0);
}